<%= form_with(model: payment, local: true) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :payment_type %>
    <%= form.text_field :payment_type %>
  </div>

  <div class="field">
    <%= form.label :payment_account %>
    <%= form.number_field :payment_account %>
  </div>

  <div class="field">
    <%= form.label :payment_summa %>
    <%= form.number_field :payment_summa %>
  </div>

  <div class="field">
    <%= form.label :payment_status %>
    <%= form.text_field :payment_status %>
  </div>

  <div class="field">
    <%= form.label :cashback %>
    <%= form.number_field :cashback %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
