<!DOCTYPE html>
<html>
  <head>
    <title>Service</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='header'>
      <!--<ul class='navmenu'>
        <li><a href=""><span style="color: red;">e</span><span style="color: blue;">P</span><span style="color: green;">a</span><span style="color: orange;">y</span></a> </li>
        <li id="user-info"><a href=''>Menu</a></li>
      </ul>-->
      <a href=""><span style="color: red;">e</span><span style="color: blue;">P</span><span style="color: green;">a</span><span style="color: orange;">y</span></a>
      <ul id="user-info">
        <li><a href="">iamuser@iam.ru</a></li>
        <li><a href=''>Sign Out</a></li>
      </ul>
    </div>
    <div class= '<%= controller.controller_name %>'> <%= yield %> </div>
  </body>
</html>
