<!DOCTYPE html>
<html>
  <head>
    <title>Service</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='header'>
      <!--<ul class='navmenu'>
        <li><a href=""><span style="color: red;">e</span><span style="color: blue;">P</span><span style="color: green;">a</span><span style="color: orange;">y</span></a> </li>
        <li id="user-info"><a href=''>Menu</a></li>
      </ul>-->
      <a href="/"><span style="color: red;">e</span><span style="color: blue;">P</span><span style="color: green;">a</span><span style="color: orange;">y</span></a>
      <ul id="user-info">
        <% if user_signed_in? %>
          <li>
            <a href=""><%= current_user.email %></a>
          <!--  Balance: <% if !current_user.user_balance.nil? %>
                      <%= number_to_currency(current_user.user_balance) %>
                     <% else %>
                      <%= number_to_currency(0) %>
                     <% end %>-->
          </li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><a href='<%= new_user_session_path %>'>Sign in</a></li>
        <% end %>
      </ul>
    </div>
    <div class= '<%= controller.controller_name %>'> <%= yield %> </div>
  </body>
</html>
