<!DOCTYPE html>
<html>
  <head>
    <title>Service</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class= '<%= controller.controller_name %>'>
    <div class='header'>
      <ul class='navmenu'>
        <li><a href=""> Payments</a> </li>
        <li> <a href=''>menu</a></li>
      </ul>
    </div>
    <div> <%= yield %> </div>
  </body>
</html>
